/* リセットCSS（気にしないでください） */
* {
  margin: 0;
  padding: 0;
}

#wrapper {
  margin: 0 20px;
}

.soundpad {
  margin: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
}

.sound {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  width: 30%;
  height: 70px;
  margin-bottom: 10px;
  background: rgb(231,231,231);
  border-radius: 5px;
}

audio {
  /*display: none;*/
}

h1 {
  font-size: 1.8em;
  margin-top: 20px;
  font-family: 'Zen Kurenaido', sans-serif;
}
